# Import Necessary Modules

In [1]:
import pandas as pd
import openpyxl

# Loading workbook

In [7]:
workbook = openpyxl.load_workbook('Institutes.xlsx')
worksheet = workbook['Institutes']

# Removing empty cells

In [17]:
for row in worksheet.iter_rows():
    non_empty_cells = []
    for cell in row:
        if cell.value is not None:
            non_empty_cells.append(cell)
    for i, cell in enumerate(non_empty_cells):
        worksheet.cell(row=row[0].row+i, column=cell.column).value = cell.value
    for j in range(len(non_empty_cells), len(row)):
        worksheet.cell(row=row[0].row+j, column=row[j].column).value = None
workbook.save('Institutes.xlsx')

In [16]:
df = pd.read_excel('Institutes.xlsx')
df = df.fillna('-')
df

,Institutes,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,"Bahria University Medical & Dental College, Ka...",BS Programs,-,-,-,Master MS MPhil,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,-,Program,Durations,Fee,Deadline,Program,Durations,Fee,Deadline,Merit,...,-,-,-,-,-,-,-,-,-,-
2,-,BDS - Dentistry,-,1400000,14-12-2022,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,-,BS - Medical Laboratory Technology,-,-,10-02-2022,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,-,MBBS - Medicine - Mbbs,-,1100000,14-12-2022,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3610,-,BS - Software Engineering,-,-,13-12-2022,-,-,81200,10-02-2023,-,...,-,-,-,-,-,-,-,-,-,-
3611,-,-,-,-,-,MEM - Transportation Infrastructure Management,-,81200,10-02-2023,-,...,-,-,-,-,-,-,-,-,-,-
3612,-,-,-,-,-,MURP - Urban & Regional Planning,-,81200,10-02-2023,-,...,-,-,-,-,-,-,-,-,-,-
3613,-,-,-,-,-,MEM - Water Resource Management,-,81200,10-02-2023,-,...,-,-,-,-,-,-,-,-,-,-
3614,-,-,-,-,-,ME - Water Resources Engineering,-,81200,10-02-2023,-,...,-,-,-,-,-,-,-,-,-,-